.sliderLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 90vh;
    padding: 3rem 0;
    width: 120.92px;
    & .select{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 25vh;
        & a{
            color: #000;
        }
        & .active{
            padding: .5rem 0;
            border-left: 6px solid #F9A109;
        }
    }
    & .shop{
        position: relative;
        background-color: #F9A109;
        border-radius: 50%;
        width: 42px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 50%;
        transform: translate(-50%);
        cursor: pointer;
        & span:last-child{
            position: absolute;
            top: -10%;
            right: -15%;
            background-color: #EB5757;
            width: 20.72px;
            height: 19.97px;
            border-radius: 4px;
            text-align: center;
            line-height: 19.97px;
            color: #fff;
            font-family: 'Quicksand';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
        }
    }
    & input{
        display: none;
    }
}