.history{
    padding: 3rem 0;
    padding-left: 80.5px;
    background: #FAFAFE;
    width: 130%;
    overflow-y: scroll;
    height: 100vh;
    &::-webkit-scrollbar{
        width: 0;
    }
    & .header{
        & h1{
            font-weight: 700;
            font-size: 26px;
            color: #34333A;
        }
    }
    & .time{
        margin-top: 41px;
        & h1{
            font-weight: 500;
            font-size: 12px;
            color: #000;
        }
        & .content{
            background: #FFFFFF;
            box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
            border-radius: 12px;
            width: 52%;
            padding: 22px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 17.50px;
            margin-bottom: 28px;
            cursor: pointer;
            & h1{
                font-weight: 500;
                font-size: 16px;
                color: #000;
            }
            & .icon{
                display: flex;
                align-items: center;
                & span:nth-of-type(1) {
                    margin-right: 13px;
                }
                & span:nth-of-type(2) {
                    font-weight: 500;
                    font-size: 12px;
                    color: #C1C1C4;
                    margin-right: 26px;
                }
                & .completed {
                    border: 1px solid #56CCF2;
                    border-radius: 8px;
                    font-weight: 500;
                    font-size: 12px;
                    color: #56CCF2;
                    padding: 4.26px 7.83px;
                    margin-right: 40px;
                    cursor: default;
                }
                & span:nth-of-type(4) {
                    cursor: pointer;
                }
                & .cancelled{
                    border: 1px solid #EB5757;
                    color: #EB5757;
                    border-radius: 8px;
                    font-weight: 500;
                    font-size: 12px;
                    padding: 4.26px 7.83px;
                    margin-right: 40px;
                    cursor: default;
                }
            }
        }
    }
}