.items {
  padding: 3rem 0;
  padding-left: 80.5px;
  background: #FAFAFE;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.items .header {
  display: flex;
  font-weight: 700;
}

.items .header h1 {
  width: 590.29px;
  color: #34333A;
}

.items .header h1 span {
  color: #F9A109;
}

.items .header .search {
  width: 275.61px;
  height: 50.92px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  display: flex;
  align-items: center;
  margin-left: 59px;
  padding-left: 15px;
  background-color: #fff;
  position: relative;
}

.items .header .search input {
  border: none;
  margin-left: 13px;
  outline: none;
  font-size: 14px;
  background-color: transparent;
  width: 84%;
}

.items .header .search .itemSearch {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 50%;
  top: 2.9rem;
  transform: translate(-50%);
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  max-height: 30vh;
  overflow-y: scroll;
  z-index: 999;
}

.items .header .search .itemSearch::-webkit-scrollbar {
  width: 5px;
}

.items .header .search .itemSearch::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #F9A109;
}

.items .header .search .itemSearch ul {
  list-style: none;
}

.items .header .search .itemSearch ul li {
  padding: .7rem 0;
  transition: .1s;
  cursor: pointer;
}

.items .header .search .itemSearch ul li:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.items .items {
  padding: 0;
  margin-top: 4rem;
  width: 80%;
  overflow-y: scroll;
  height: 80vh;
}

.items .items::-webkit-scrollbar {
  width: 0;
}

.items .items .item {
  margin-bottom: 2rem;
}

.items .items .item h1 {
  font-weight: bold;
  font-size: 25px;
  line-height: 22px;
}

.items .items .item .content {
  margin-top: .8rem;
  display: inline-block;
}

.items .items .item .content .colome {
  display: inline-block;
  background-color: #fff;
  margin-right: 1rem;
  width: 198px;
  height: 50px;
  position: relative;
  border-radius: 12px;
  margin-bottom: 1.2rem;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: .3s;
}

.items .items .item .content .colome .flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.items .items .item .content .colome .flex span:first-child {
  width: 60%;
}

.items .items .item .content .colome:hover {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
  transform: scale(1.05);
}
