.addNewItems {
  background: #FAFAFE;
  width: 40rem;
  height: 100vh;
  overflow-Y: scroll;
  position: relative;
}

.addNewItems::-webkit-scrollbar {
  width: 0;
}

.addNewItems h1 {
  font-weight: 500;
  font-size: 24px;
  width: 75%;
  margin: auto;
}

.addNewItems form {
  margin: auto;
  margin-top: 20px;
  width: 75%;
  font-weight: 500;
  color: #34333A;
}

.addNewItems form .name {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 18px;
}

.addNewItems form .name label {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5px;
}

.addNewItems form .name .input {
  height: 50.25px;
  border: 2px solid #BDBDBD;
  border-radius: 12px;
  padding-left: 18px;
  outline: none;
}

.addNewItems form .name .input:focus {
  border: 2px solid #F9A109;
}

.addNewItems form .name .error {
  border: 2px solid red;
}

.addNewItems form .name .error::-webkit-input-placeholder {
  color: red;
  opacity: .7;
}

.addNewItems form .name .labelError {
  color: red;
}

.addNewItems form .note {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 18px;
}

.addNewItems form .note label {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5px;
}

.addNewItems form .note textarea {
  height: 110.22px;
  border: 2px solid #BDBDBD;
  border-radius: 12px;
  padding: 18px;
  outline: none;
}

.addNewItems form .note textarea:focus {
  border: 2px solid #F9A109;
}

.addNewItems form .image {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 18px;
}

.addNewItems form .image label {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5px;
}

.addNewItems form .image input {
  height: 50.25px;
  border: 2px solid #BDBDBD;
  border-radius: 12px;
  padding-left: 18px;
  outline: none;
}

.addNewItems form .image input:focus {
  border: 2px solid #F9A109;
}

.addNewItems form .category {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 18px;
}

.addNewItems form .category .label {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5px;
}

.addNewItems form .category .input {
  height: 50.25px;
  border: 2px solid #BDBDBD;
  border-radius: 12px;
  padding-left: 18px;
  outline: none;
}

.addNewItems form .category .input:focus {
  border: 2px solid #F9A109;
}

.addNewItems form .category .error {
  border: 2px solid red;
}

.addNewItems form .category .error::-webkit-input-placeholder {
  color: red;
  opacity: .7;
}

.addNewItems form .category .labelError {
  color: red;
}

.addNewItems form .select {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  text-align: center;
  margin-top: 12.15px;
}

.addNewItems form .select h1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
  padding: 14px 0;
  cursor: pointer;
  transition: .4s;
  width: 100%;
}

.addNewItems form .select h1:hover {
  background: #F2F2F2;
  border-radius: 12px;
  font-size: 18px;
  color: #34333A;
}

.addNewItems form .select h1:first-child {
  margin-top: 10px;
}

.addNewItems form .error {
  border: 1px solid red;
}

.addNewItems form .button {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  margin-bottom: 2.7rem;
}

.addNewItems form .button button {
  margin: 0 20px;
  cursor: pointer;
}

.addNewItems form .button button:first-child {
  font-size: 16px;
  line-height: 20px;
  color: #34333A;
  border: none;
  background-color: transparent;
  font-weight: 700;
}

.addNewItems form .button button:last-child {
  background: #F9A109;
  border-radius: 12px;
  width: 87.35px;
  height: 61.25px;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  border: none;
}

.addNewItems input:focus ~ label {
  transition: .2s;
  color: #F9A109;
}

.addNewItems textarea:focus ~ label {
  transition: .2s;
  color: #F9A109;
}
